<div class="max-w-screen-xl px-4 py-4 mx-auto sm:px-6 lg:px-8">
  <div class="flex flex-col gap-4 mb-4 border-gray-200 md:flex-row">
    <div class="relative flex flex-col justify-center w-full p-4 md:w-1/3">
      <h3
        class="mb-2 text-2xl font-bold text-secondary-dark-darkest hover:text-secondary-dark"
      >
        Create Worksheet
      </h3>
      <p class="mt-2 text-gray-600">
        Create worksheet based on past exam questions
      </p>
      <div class="flex mt-4 space-x-2">
        <button
          routerLink="/worksheets/new"
          class="px-5 py-2 font-medium text-white rounded-md shadow-md bg-primary-green hover:bg-primary-green-light hover:scale-105"
        >
          Create
        </button>
      </div>
    </div>

    <div
      class="flex flex-col w-full p-6 bg-white rounded-lg shadow-md md:w-2/3"
    >
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-semibold text-secondary-dark-mid">
          Past Exam Material
        </h3>
        <button
          class="px-4 py-2 text-sm font-medium text-white rounded-md bg-primary-green hover:bg-primary-green-light"
          routerLink="/material"
        >
          View All
        </button>
      </div>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        <app-exam-material-card
          year="2024"
          image1="assets/images/ordinary.png"
          image2="assets/images/higher.png"
          [downloadLink]="EXAM_MATERIAL_LINKS[2024]"
        ></app-exam-material-card>
        <app-exam-material-card
          year="2023"
          image1="assets/images/ordinary.png"
          image2="assets/images/higher.png"
          [downloadLink]="EXAM_MATERIAL_LINKS[2023]"
        ></app-exam-material-card>
        <app-exam-material-card
          year="2022"
          image1="assets/images/ordinary.png"
          image2="assets/images/higher.png"
          [downloadLink]="EXAM_MATERIAL_LINKS[2022]"
        ></app-exam-material-card>
      </div>
    </div>
  </div>

  <div class="p-2 mt-4 bg-white rounded-lg shadow-md">
    <app-practice-table></app-practice-table>
  </div>
</div>
