<div>
  <div class="flex items-center justify-between mb-6">
    <div class="relative">
      <button
        (click)="toggleDropdown()"
        class="px-4 py-2 text-lg font-semibold transition bg-white border border-gray-300 rounded-lg text-secondary-dark-mid hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary-green focus:ring-opacity-50"
      >
        {{ selectedLanguage }}
      </button>
      <div
        *ngIf="dropdownOpen"
        class="absolute left-0 z-10 w-40 mt-2 bg-white border border-gray-200 rounded-lg shadow-lg"
      >
        <button
          *ngFor="let lang of ['Python']"
          (click)="selectLanguage(lang)"
          class="block w-full px-4 py-2 text-left transition hover:bg-gray-100 focus:outline-none"
        >
          {{ lang }}
        </button>
      </div>
    </div>

    <div class="flex space-x-2">
      <button
        (click)="resetEditor()"
        class="px-4 py-2 text-white transition rounded-lg bg-secondary-dark-mid hover:bg-secondary-dark-darkest focus:outline-none focus:ring-2 focus:ring-secondary-dark-mid focus:ring-opacity-50"
      >
        Reset
      </button>
    </div>
  </div>

  <div #editorContainer class="bg-black" style="min-height: 600px">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="editorOptions"
      [(ngModel)]="code"
      (ngModelChange)="onCodeChange()"
      (onInit)="onEditorInit($event)"
    ></ngx-monaco-editor>
  </div>

  <div class="flex justify-end gap-4 mt-6">
    <button
      class="px-4 py-2 text-white transition rounded-lg bg-secondary-dark-mid hover:bg-secondary-dark-darkestfocus:outline-none focus:ring-2 focus:ring-secondary-dark-mid focus:ring-opacity-50"
    >
      Solution
    </button>
    <button
      class="px-6 py-2 text-white transition rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50"
      [ngClass]="{
        'bg-primary-green hover:bg-primary-green-light focus:ring-primary-green':
          !isLoading,
        'bg-gray-400 cursor-not-allowed': isLoading
      }"
      [disabled]="isLoading"
      (click)="runCode()"
    >
      <ng-container *ngIf="isLoading; else defaultText">
        <span class="loader"></span> Running...
      </ng-container>
      <ng-template #defaultText>Submit</ng-template>
    </button>
  </div>

  <div class="mt-6">
    <div
      *ngIf="results.length === 0"
      class="p-4 mt-4 border rounded-lg shadow-md"
    >
      <div>
        <strong>No Results Yet. Submit your code to test your answer.</strong>
      </div>
    </div>

    <div *ngIf="results.length !== 0">
      <h3 class="text-lg font-semibold">
        Result:
        <span
          [ngClass]="{
            'text-green-600': allPassed,
            'text-red-600': !allPassed
          }"
        >
          {{ allPassed ? "PASSED" : "FAILED" }}
        </span>
      </h3>

      <div
        *ngFor="let result of results"
        class="p-4 mt-4 bg-white border rounded-lg shadow-md"
        [ngClass]="{
          'border-green-400': result.passed,
          'border-red-400': !result.passed
        }"
      >
        <div class="mt-2">
          <span
            class="font-semibold"
            [ngClass]="{
              'text-green-600': result.passed,
              'text-red-600': !result.passed
            }"
          >
            {{ result.passed ? "✔ Passed" : "✖ Failed" }}
          </span>
        </div>

        <div *ngIf="result.input">
          <strong>Input:</strong>
          <pre class="p-2 bg-gray-200 rounded">{{ result.input }}</pre>
        </div>
        <div>
          <strong>Output:</strong>
          <pre class="p-2 bg-gray-200 rounded">{{ result.output }}</pre>
        </div>
        <div>
          <strong>Expected:</strong>
          <pre class="p-2 bg-gray-200 rounded">{{ result.expected }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
