<div>
  <h3
    class="mb-2 text-2xl font-bold text-secondary-dark-darkest hover:text-secondary-dark"
  >
    Exam Papers
  </h3>
  <p class="mb-4 leading-relaxed text-md text-secondary-dark-light">
    Previous Exam Paper Resources, Walkthroughs, and Assessments
  </p>
  <div class="w-full overflow-x-hidden">
    <table class="w-full divide-y divide-gray-200 table-auto">
      <thead>
        <tr class="text-xs text-left sm:text-sm lg:text-base">
          <th
            class="px-2 py-1 font-semibold tracking-wider text-gray-500 uppercase sm:px-4 sm:py-2 lg:px-6 lg:py-3"
            style="width: 90%"
          >
            Year
          </th>
          <th
            class="px-2 py-1 font-semibold tracking-wider text-right text-gray-500 uppercase sm:px-4 sm:py-2 lg:px-6 lg:py-3"
            style="width: 10%"
          >
            Resources
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr
          *ngFor="let paper of papers; let i = index"
          [ngClass]="{
            'bg-white': i % 2 === 0,
            'bg-background': i % 2 !== 0
          }"
          class="text-xs transition-colors duration-300 sm:text-sm lg:text-base hover:bg-primary-green-light/20"
        >
          <td class="px-2 py-1 text-gray-700 sm:px-4 sm:py-2 lg:px-6 lg:py-3">
            <div class="flex items-center">
              <span
                class="text-xs font-medium text-gray-900 truncate sm:text-sm lg:text-base"
              >
                {{ paper.year }} Exam
              </span>
            </div>
          </td>

          <td class="px-2 py-1 text-center sm:px-4 sm:py-2 lg:px-6 lg:py-3">
            <ng-container *ngIf="i === 0; else locked">
              <div
                class="flex items-center justify-end space-x-1 sm:space-x-2 lg:space-x-2"
              >
                <button
                  [routerLink]="['/exam', 'papers', paper.year]"
                  class="px-1 py-1 text-xs text-gray-800 bg-transparent border border-gray-300 rounded hover:text-primary-green-light hover:border-primary-green-light focus:outline-none focus:ring-1 focus:ring-primary-green focus:ring-opacity-50 sm:px-2 sm:py-1 sm:text-sm"
                  aria-label="View Papers"
                >
                  Details
                </button>

                <button
                  (click)="downloadExamMaterial()"
                  class="flex items-center justify-center w-6 h-6 text-white transition-transform transform rounded-full bg-secondary-dark-mid hover:bg-secondary-dark-light focus:outline-none focus:ring-1 focus:ring-secondary-dark-mid focus:ring-opacity-50 sm:w-7 sm:h-7"
                  aria-label="Download"
                >
                  <fa-icon
                    [icon]="icons.faDownload"
                    class="text-xs sm:text-sm"
                  ></fa-icon>
                </button>
              </div>
            </ng-container>

            <ng-template #locked>
              <div class="flex justify-end">
                <fa-icon
                  [icon]="icons.faLock"
                  class="text-xl text-gray-500"
                  aria-label="Locked"
                ></fa-icon>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
