<div>
  <div
    class="relative flex items-center overflow-hidden text-left bg-gray-100 rounded-lg shadow-md h-80"
  >
    <div
      class="relative z-20 p-6 bg-gradient-to-r from-white to-transparent bg-opacity-90 backdrop-blur-sm"
    >
      <h3
        class="mb-2 text-2xl font-bold transition-colors text-secondary-dark-darkest hover:text-secondary-dark"
      >
        Create Worksheet
      </h3>
      <p class="mt-2 text-gray-600">
        Create worksheet based on past exam questions
      </p>
      <div class="mt-4 space-x-2">
        <button
          (click)="createWorksheet()"
          class="px-5 py-2 font-medium text-white transition-transform transform rounded-md shadow-md bg-primary-green hover:bg-primary-green-light hover:scale-105"
        >
          Create
        </button>
        <button
          class="px-5 py-2 font-medium text-gray-800 bg-transparent border border-gray-300 opacity-50 cursor-not-allowed focus:outline-none focus:ring-1 focus:ring-primary-green focus:ring-opacity-50"
          [disabled]="true"
        >
          Recents
        </button>
      </div>
    </div>

    <div class="absolute inset-0 flex items-center justify-center">
      <div
        class="w-full h-full bg-right bg-no-repeat"
        style="
          background-image: url('assets/images/background.png');
          background-size: cover;
          background-position: center;
        "
      ></div>
    </div>
  </div>

  <hr class="my-4 border-gray-200" />
  <div>
    <h3
      class="mb-2 text-2xl font-bold text-secondary-dark-darkest hover:text-secondary-dark"
    >
      Browse Worksheets
    </h3>
    <p class="mb-4 leading-relaxed text-md text-secondary-dark-light">
      Download or complete existing worksheets.
    </p>

    <div class="w-full overflow-x-auto">
      <table class="w-full divide-y divide-gray-200 table-auto">
        <thead>
          <tr class="text-xs text-left sm:text-sm lg:text-base">
            <th
              class="px-2 py-1 font-semibold tracking-wider text-gray-500 uppercase sm:px-4 sm:py-2 lg:px-6 lg:py-3"
              style="width: 70%"
            >
              Worksheet
            </th>
            <th
              class="px-2 py-1 font-semibold tracking-wider text-right text-gray-500 uppercase sm:px-4 sm:py-2 lg:px-6 lg:py-3"
              style="width: 30%"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr
            *ngFor="let worksheet of worksheets; let i = index"
            [ngClass]="{
              'bg-white': i % 2 === 0,
              'bg-background': i % 2 !== 0
            }"
            class="text-xs transition-colors duration-300 sm:text-sm lg:text-base hover:bg-primary-green-light/20"
          >
            <td class="px-2 py-1 text-gray-700 sm:px-4 sm:py-2 lg:px-6 lg:py-3">
              <div class="flex items-center">
                <span
                  class="text-xs font-medium text-gray-900 truncate sm:text-sm lg:text-base"
                >
                  {{ worksheet.title }}
                </span>
              </div>
            </td>

            <td class="px-2 py-1 text-center sm:px-4 sm:py-2 lg:px-6 lg:py-3">
              <div
                class="flex items-center justify-end space-x-1 sm:space-x-2 lg:space-x-2"
              >
                <button
                  (click)="previewWorksheet()"
                  class="px-1 py-1 text-xs font-medium text-gray-800 bg-transparent border border-gray-300 rounded hover:text-primary-green-light hover:border-primary-green-light focus:outline-none focus:ring-1 focus:ring-primary-green focus:ring-opacity-50 sm:px-2 sm:py-1 sm:text-sm"
                  aria-label="Preview Worksheet"
                >
                  Preview
                </button>

                <button
                  (click)="completeWorksheet()"
                  class="px-1 py-1 text-xs font-medium text-gray-800 bg-transparent border border-gray-300 rounded opacity-50 cursor-not-allowed focus:outline-none focus:ring-1 focus:ring-primary-green focus:ring-opacity-50 sm:px-2 sm:py-1 sm:text-sm"
                  aria-label="Start Worksheet"
                  [disabled]="true"
                >
                  Start
                </button>

                <button
                  (click)="downloadWorksheet()"
                  class="w-6 h-6 text-white transition-transform transform rounded-full bg-secondary-dark-mid hover:bg-secondary-dark-light focus:outline-none focus:ring-1 focus:ring-secondary-dark-mid focus:ring-opacity-50 sm:w-7 sm:h-7"
                  aria-label="Download Worksheet"
                >
                  <fa-icon
                    [icon]="icons.faDownload"
                    class="text-xs sm:text-sm"
                  ></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
